#editor {
    width: 800px;
    margin: 10px auto;
}

#editor #emitterControls,#editor #emitterList {
    float: left;
    width: 300px;
    margin: 0 50px;
}

#editor .controls {
    display: inline-block;
}

#editor .controls>div {
    height: 22px;
}

#editor .controls input,.controls select {
    width: 140px;
    float: right;
}

#editor .title {
    font-weight: bold;
}

#editor #emitterList select {
    display: block;
    width: 70%;
}

#editor #emitterList input {
    width: 100px;
}