#editor {
    width: 800px;
    margin: 10px auto;
}

#editor #emitterControls,#editor #emitterList {
    float: left;
    width: 380px;
    margin: 0 10px;
}

#editor .controls {
    display: inline-block;
}

#editor .controls .buttons {
    height: 30px;
}

#editor .controls .buttons input {
    float: none;
}

#editor .controls .category {
    background: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    text-align: center;
    clear: both;
}

#editor .controls>div {
    height: 22px;
}

#editor .controls input,.controls select {
    width: 140px;
    float: right;
}

#editor .title {
    font-weight: bold;
}

#editor #emitterList select {
    display: block;
    width: 70%;
}

#editor #emitterList input {
    width: 100px;
}