#eclipse files
.project
.settings

# temp files
.DS_Store
Thumbs.db
Desktop.ini
npm-debug.log

# project specific ignore
add-on/
node_modules/
build/*
docs/*
!.placeholder

# Vim swap files
*.sw*

*.sublime-project

melonjs.sublime-workspace
