<h1>API Document Index</h1>
<hr />
<ul class="classList">
	<for each="thisClass" in="data">
	<li>{!
		if (thisClass.alias == "_global_") {
			output += "<i>"+new Link().toClass(thisClass.alias)+"</i>";
		}
		else {
			output += new Link().toClass(thisClass.alias);
		}
	!}</li>
	</for>
</ul>
<hr />