<?js
var self = this;
?>

<dl>
    <?js list.forEach(function(item) { ?>
        <dt>
            <h4 class="name">
                <?js= self.linkto(item.longname, item.name) ?>
                <div class="container-source members">
                    <code><?js= self.linkto(item.longname, item.longname) ?></code>
                </div>
            </h4>
        </dt>
        <?js if (item.summary) { ?><dd><?js= item.summary ?></dd><?js } ?>
    <?js }); ?>
</dl>
