html
{
    overflow: auto;
    background-color: #fff;
}

body
{
	font: 12px/1.5 "Helvetica Neue", Arial, sans-serif;
	line-height: 130%;
	color: #000;
	background-color: #F1F6DD;
	margin: 0;
}

a {
    color: #444;
}

a:visited {
    color: #444;
}

a:active {
    color: #444;
}

#logo
{
	width: 100%;
	height: 110px;
	background-color: #667F03;
}

#logo_text
{
	position: relative;
	left: 240px;
	width: 825px;
	height: 100%;
	padding-left: 1em;
	border-left: 1px solid #667F03;
	background: #667F03 url(../images/banner.png) 0 -40px no-repeat;
}

#logo h1, #logo h2
{
	font: normal 300% 'century gothic', arial, sans-serif;
	border-bottom: 0;
	text-transform: none;
	margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{
	padding: 22px 0 0 0;
	color: #FFF;
	letter-spacing: 0.1em;
	text-decoration: none;
}

#logo_text h1 a .logo_colour
{
	color: #CDF63E;
}

#logo_text h2
{
	font-size: 100%;
	padding: 4px 0 0 0;
	color: #DDD;
}

.class-description {
    font-style: italic;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 130%;
	line-height: 140%;
	margin-bottom: 1em;
	margin-top: 1em;
}

#main {
    padding: 1em 0 1em 1em;
    min-width: 825px;
    margin-left: 240px;
    border-left: 1px solid #667F03;
    border-bottom: 1px solid #667F03;
    background-color: #fff;
}

section
{
	display: block;
	
	background-color: #fff;
	padding: 12px 24px;
}

header
{
	background-color: #667F03;
	color: #fff;
	padding: 3px;
}

.variation {
    display: none;
}

.optional:after {
	content: "opt";
	font-size: 60%;
	color: #aaa;
	font-style: italic;
	font-weight: lighter;
}

nav
{
	float: left;
    width: 220px;
    padding: 1em;
}

nav ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 100%;
    line-height: 17px;
    padding:0;
    margin:0;
    list-style-type:none;
}

nav h2 a, nav h2 a:visited {
    color: #667F03;
    text-decoration: none;
}

nav h3 {
    margin-top: 12px;
}

nav li {
    margin-top: 6px;
}

nav a {
    color: #5C5954;
}

nav a:visited {
    color: #5C5954;
}

nav a:active {
    color: #5C5954;
}

footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

h1
{
	font-size: 200%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin: 6px 0 9px 0;
}

h2
{
	font-size: 170%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin: 6px 0 3px 0;
}

h3
{
	font-size: 150%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin-top: 16px;
	margin: 6px 0 3px 0;
}

h4
{
	font-size: 130%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin-top: 16px;
	margin: 18px 0 3px 0;
	color: #667F03;
}

h5, .container-overview .subsection-title
{
	font-size: 120%;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin: 8px 0 3px -16px;
}

h6
{
	font-size: 100%;
	letter-spacing: -0.01em;
	margin: 6px 0 3px 0;
	font-style: italic;
}

.ancestors { color: #ddd; }
.ancestors a
{
    color: #ddd !important;
    text-decoration: none;
}

.important
{
	font-weight: bold;
	color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}

.name, .signature {
	font-family: Consolas, "Lucida Console", Monaco, monospace;
}

.details { margin-top: 14px; }
.details dt { width:100px; float:left; border-left: 2px solid #667F03; padding-left: 10px;  padding-top: 6px; }
.details dd { margin-left: 50px; }
.details ul { margin: 0; }
.details ul { list-style-type: none; }
.details li { margin-left: 30px; padding-top: 6px; }

.description {
	margin-bottom: 1em;
	margin-left: -16px;
	margin-top: 1em;
}

.code-caption
{
	font-style: italic;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 107%;
	margin: 0;
}

.prettyprint
{
	border: 1px solid #667F03;
	width: 80%;
    overflow: auto;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code
{
	font-family: Consolas, 'Lucida Console', Monaco, monospace;
	font-size: 100%;
	line-height: 18px;
	display: block;
	padding: 4px 12px;
	margin: 0;
	background-color: #fff;
	color: #000;
	border-left: 3px #667F03 solid;
}

.params, .props
{
	border-spacing: 0;
	border: 0;
	border-collapse: collapse;
}

.params .name, .props .name, .name code {
	color: #667F03;
	font-family: Consolas, 'Lucida Console', Monaco, monospace;
	font-size: 100%;
}

.params td, .params th, .props td, .props th
{
	border: 1px solid #667F03;
	margin: 0px;
	text-align: left;
	vertical-align: top;
	padding: 4px 6px;
	display: table-cell;
}

.params thead tr, .props thead tr
{
	background-color: #667F03;
	color: #fff;
	font-weight: bold;
}

.params th, .props th { border-right: 1px solid #3d4d02; }
.params thead .last, .props thead .last { border-right: 1px solid #667F03; }

.disabled {
    color: #454545;
}
